body {
    margin: 0;
    padding: 0;
    min-width: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

.main-page-header {
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 5px; /* Optional: Adds padding around the header */
}

nav ul {
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

nav ul li {
    margin: 0 15px; /* Optional: Adds space around each list item */
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #175d9f; /* Adjust the color as needed */
}

nav ul li a:hover{
    color: #9f2517;
}

#sections{
    padding: 15px;

}

footer{
    background-color: #2f4bda;
    color: white;
    width: 100%;
    text-align: center;
}

footer p{
    padding: 2px;
}

#product-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#card{
    
    box-shadow: 0 0 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-bottom: 0.1em solid gray;
}

#card:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
button{
    border: none;
    background-color: black;
    color:white;
    cursor: pointer;
}

#card button{
    padding: 10px;
    width: 100%;
}

#cart-counter{
    border-radius: 50%;
    border: 0.1em solid red;
    background-color: red;
    color: white;
    padding: 0px 5px 0 5px;
}